<% if(page.comments && theme.valine.enabled){ %>
    <div class="blog-post-comments">
      <section id="comment">
        <div id="valine_container" class="valine_thread"></div>
      </section>
      <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/HCLonely/Valine@latest/dist/Valine.min.js"></script>

<style>
 .v #veditor{
     min-height: 10rem;
     background-image: url(https://cdn.jsdelivr.net/gh/cungudafa/img/images/girls2.png);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: right;
     background-color: rgba(255,255,255,0);
     resize: none;}

 /*图片消失
 #veditor:focus{
	background-position-y: 200px;
	transition: all 0.2s ease-in-out 0s;
}  */  
/*头像旋转*/
img.vimg {
     transition: all 1s   /* 旋转时间为 1s */
}

img.vimg:hover {
     transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
}

/*调整一下表情高度*/
div.vcontent p  img.vemoji {
    height: 30px;

}
</style>


      <script>
        var GUEST_INFO = ["nick", "mail", "link"];
        var guest_info = "<%= theme.valine.guest_info %>"
          .split(",")
          .filter(function (item) {
            return GUEST_INFO.indexOf(item) > -1;
          });
        var valine = new Valine();
        valine.init({
          el: "#valine_container",
          admin_email: 'i@1l.fit',
          appId: "<%= theme.valine.appId %>",
          appKey: "<%= theme.valine.appKey %>",
          placeholder: "<%= theme.valine.placeholder %>",
          path: window.location.pathname,
          pageSize: "<%= theme.valine.pageSize %>",
          avatar: "<%= theme.valine.avatar %>",
          lang: "<%= theme.valine.lang %>",
          pushType: "<%= theme.valine.pushType %>",
          pushLink: "<%= theme.valine.pushLink %>",
          enableQQ: true,
          master: '4b278adff5fd7c28aedbf73dd9c52ae5',   //博主邮箱md5  i@1l.fit
          tagMeta: ["博主","小伙伴","访客"],     //标识字段名
          friends:  ["191434ebf724621793c3b2cb237b7e3d","f894d7f51e622407670d7009d9c9f655"],  //小伙伴邮箱Md5
          emojiCDN: "https://mirrorcdn.bili33.top/",
          // 表情title和图片映射
          emojiMaps: {
          "嘿嘿":"https://s-o.oss-cn-shanghai.aliyuncs.com/emoji/%E5%98%BF%E5%98%BF.jpg",    
          "土豆":"https://s-o.oss-cn-shanghai.aliyuncs.com/emoji/tudou.gif",
          "汗_":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200411023456.webp",
          "点赞": "https://cdn.jsdelivr.net/gh/drew233/cdn/kawayi.webp",   
          "傲娇":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200409103906.webp",
          "开心":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200409104757.webp",
          "扣手手":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200409130304.webp",
          "仙女下凡":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200409130301.webp",
          "得瑟":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200409130258.webp",
          "揉左脸":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200409130254.webp",
          "揉右脸":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200409130249.webp",
          "滑稽":"https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/smilies/icon_huaji.gif",
          "彩虹滑稽":"https://cdn.jsdelivr.net/gh/drew233/cdn/caihongtiao.webp",
          "呆滞":"https://cdn.jsdelivr.net/gh/drew233/cdn/daizhi.webp",
          "躲进小被子":"https://cdn.jsdelivr.net/gh/drew233/cdn/djxbz.webp",
          "给我也整一个":"https://cdn.jsdelivr.net/gh/drew233/cdn/gwyzyg.webp",
          "草":"https://cdn.jsdelivr.net/gh/drew233/cdn/imgcao.webp",
          "花":"https://cdn.jsdelivr.net/gh/drew233/cdn/imghua.webp",
          "日":"https://cdn.jsdelivr.net/gh/drew233/cdn/imgri.webp",
          "目瞪狗呆":"https://cdn.jsdelivr.net/gh/drew233/cdn/20200412095243.webp",
          "tql":"https://cdn.jsdelivr.net/gh/drew233/cdn/tql.webp",
          "转圈圈":"https://cdn.jsdelivr.net/gh/drew233/cdn/zqq.webp",
          
         
         "tv_doge": "bilibilitv/[tv_doge].png",
         "tv_亲亲": "bilibilitv/[tv_亲亲].png",
         "tv_偷笑": "bilibilitv/[tv_偷笑].png",
         "tv_再见": "bilibilitv/[tv_再见].png",
         "tv_冷漠": "bilibilitv/[tv_冷漠].png",
         "tv_发怒": "bilibilitv/[tv_发怒].png",
         "tv_发财": "bilibilitv/[tv_发财].png",
         "tv_可爱": "bilibilitv/[tv_可爱].png",
         "tv_吐血": "bilibilitv/[tv_吐血].png",
         "tv_呆": "bilibilitv/[tv_呆].png",
         "tv_呕吐": "bilibilitv/[tv_呕吐].png",
         "tv_困": "bilibilitv/[tv_困].png",
         "tv_坏笑": "bilibilitv/[tv_坏笑].png",
         "tv_大佬": "bilibilitv/[tv_大佬].png",
         "tv_大哭": "bilibilitv/[tv_大哭].png",
         "tv_委屈": "bilibilitv/[tv_委屈].png",
         "tv_害羞": "bilibilitv/[tv_害羞].png",
         "tv_尴尬": "bilibilitv/[tv_尴尬].png",
         "tv_微笑": "bilibilitv/[tv_微笑].png",
         "tv_思考": "bilibilitv/[tv_思考].png",
         "tv_惊吓": "bilibilitv/[tv_惊吓].png",
         "tv_打脸": "bilibilitv/[tv_打脸].png",
         "tv_抓狂": "bilibilitv/[tv_抓狂].png",
         "tv_抠鼻": "bilibilitv/[tv_抠鼻].png",
         "tv_斜眼笑": "bilibilitv/[tv_斜眼笑].png",
         "tv_无奈": "bilibilitv/[tv_无奈].png",
         "tv_晕": "bilibilitv/[tv_晕].png",
         "tv_流汗": "bilibilitv/[tv_流汗].png",
         "tv_流泪": "bilibilitv/[tv_流泪].png",
         "tv_流鼻血": "bilibilitv/[tv_流鼻血].png",
         "tv_点赞": "bilibilitv/[tv_点赞].png",
         "tv_生气": "bilibilitv/[tv_生气].png",
         "tv_生病": "bilibilitv/[tv_生病].png",
         "tv_疑问": "bilibilitv/[tv_疑问].png",
         "tv_白眼": "bilibilitv/[tv_白眼].png",
         "tv_皱眉": "bilibilitv/[tv_皱眉].png",
         "tv_目瞪口呆": "bilibilitv/[tv_目瞪口呆].png",
         "tv_睡着": "bilibilitv/[tv_睡着].png",
         "tv_笑哭": "bilibilitv/[tv_笑哭].png",
         "tv_腼腆": "bilibilitv/[tv_腼腆].png",
         "tv_色": "bilibilitv/[tv_色].png",
         "tv_调侃": "bilibilitv/[tv_调侃].png",
         "tv_调皮": "bilibilitv/[tv_调皮].png",
         "tv_鄙视": "bilibilitv/[tv_鄙视].png",
         "tv_闭嘴": "bilibilitv/[tv_闭嘴].png",
         "tv_难过": "bilibilitv/[tv_难过].png",
         "tv_馋": "bilibilitv/[tv_馋].png",
         "tv_鬼脸": "bilibilitv/[tv_鬼脸].png",
         "tv_黑人问号": "bilibilitv/[tv_黑人问号].png",
         "tv_鼓掌": "bilibilitv/[tv_鼓掌].png",
         "卖萌": "bilibili2233/[2233娘_卖萌].png",
         "吃惊": "bilibili2233/[2233娘_吃惊].png",
         "吐魂": "bilibili2233/[2233娘_吐魂].png",
         "喝水": "bilibili2233/[2233娘_喝水].png",
         "困惑": "bilibili2233/[2233娘_困惑].png",
         "大哭": "bilibili2233/[2233娘_大哭].png",
         "大笑": "bilibili2233/[2233娘_大笑].png",
         "委屈": "bilibili2233/[2233娘_委屈].png",
         "怒": "bilibili2233/[2233娘_怒].png",
         "无言": "bilibili2233/[2233娘_无言].png",
         "出汗": "bilibili2233/[2233娘_汗].png",
         "疑问": "bilibili2233/[2233娘_疑问].png",
         "第一": "bilibili2233/[2233娘_第一].png",
         "耶": "bilibili2233/[2233娘_耶].png",
         "郁闷": "bilibili2233/[2233娘_郁闷].png",
         "妙": "bilibiliHotKey/1.jpg",
         "危": "bilibiliHotKey/2.jpg",
         "有内味儿了": "bilibiliHotKey/3.jpg",
         "高产": "bilibiliHotKey/4.jpg",
         "我枯了": "bilibiliHotKey/5.jpg",
         "不愧是你": "bilibiliHotKey/6.jpg",
         "狼火": "bilibiliHotKey/9.jpg",
         "你细品": "bilibiliHotKey/10.jpg",
         "锤": "bilibiliHotKey/11.jpg",
         "秀": "bilibiliHotKey/12.jpg",
         "这次一定": "bilibiliHotKey/14.jpg",
         "酸了": "bilibiliHotKey/15.jpg",
         "打卡": "bilibiliHotKey/16.jpg",
         "我太南了": "bilibiliHotKey/18.jpg",
         "吹爆": "bilibiliHotKey/19.jpg",
         "奥力给": "bilibiliHotKey/20.jpg",
         "awsl": "bilibiliHotKey/21.jpg",
         "猛男必看": "bilibiliHotKey/22.jpg",
         "害": "bilibiliHotKey/23.jpg",
         "知识盲区": "bilibiliHotKey/24.jpg",
         "我全都要": "bilibiliHotKey/25.jpg",
         "咕咕咕": "bilibiliHotKey/26.jpg",
         "可以": "bilibiliHotKey/27.jpg",
         "真香": "bilibiliHotKey/28.jpg",
         "完结": "bilibiliHotKey/29.jpg",
         "有生之年": "bilibiliHotKey/30.jpg",
         "大师球": "bilibiliHotKey/31.jpg",
         "爷关更": "bilibiliHotKey/32.jpg",
            
            
          },
        });
      </script>


   
      
      <!-- 今日诗词：随机返回一句古诗词名句的接口，宅到用来做 Valine 的 placeholder 显示内容 -->
      <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
      <script type="text/javascript">
       jinrishici.load(function(result) {
           var jrsc_plac =  result.data.content + "\n「" + result.data.origin.title + "」" + result.data.origin.dynasty + " · " + result.data.origin.author;
           document.getElementById("veditor").setAttribute("placeholder",jrsc_plac);
       })
      </script>
    </div>
    <% } %>
<!--

<% if(page.comments && theme.gitalk.enabled){ %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <div id="gitalk-container"></div>
    <script type="text/javascript">
        var gitalk = new Gitalk({
            clientID: '<%= theme.gitalk.clientID %>',
            clientSecret: '<%= theme.gitalk.clientSecret %>',
            id: md5(window.location.pathname),
            repo: '<%= theme.gitalk.repo %>',
            owner: '<%= theme.gitalk.owner %>',
            admin: '<%= theme.gitalk.admin %>',
            distractionFreeMode: '<%= theme.gitalk.on %>'
        })
        gitalk.render('gitalk-container')
    </script>
<% } %>

-->